/* ========= BASE ========= */

body {
  font-family: "Roboto", sans-serif; /* C5, C6, C7 */
  color: #434455; /* C8 */
  background-color: #ffffff;
  font-size: 16px; /* базовий текст */
  line-height: 1.5; /* C10 */
  margin: 0;
  width: 1440px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* ========= HEADER ========= */

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  padding-top: 16px;
  padding-bottom: 16px;
}


.header-container > a {
  display: inline-block;
  margin-left: 0;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-transform: uppercase;
  color: #2e2f42;
}

.header-container > a span {
  color: #4d5ae5;
}


.nav {
  margin-left: 46px;
  margin-bottom: 26px;
}

.nav ul {
  display: block;
}

.nav li + li {
  margin-top: 4px;
}

.nav a {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

header address {
  margin-left: 46px;
  font-style: normal;
}

header address ul {
  display: block;
}

header address li + li {
  margin-top: 4px;
}

header address a {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.nav a:hover,
.nav a:focus {
  color: #404bbf;
}

header address a:hover,
header address a:focus {
  color: #404bbf;
}

/* ========= HERO ========= */

.hero .container {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 120px;
  position: relative; 
  text-align: center;
}


.hero h1 {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  margin: 0 auto 32px;
  max-width: 100%;
  letter-spacing: 0.02em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  text-align: center;
}

.btn-primary {
  position: absolute;
  left: 0; 
  bottom: 20px; 

  display: inline-block;
  min-width: 169px;
  padding: 12px 32px;

  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  border-radius: 4px;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #404bbf;
}
/* ========= FEATURES  ========= */

.features {
  padding-top: 120px;
  padding-bottom: 120px;

  margin-bottom: 16px;
}

.features .feature ul {
  display: flex;
  flex-direction: column; 
  gap: 32px; 
  max-width: 600px; 

  margin-left: 15px; /
}

.features .feature li {
  width: 100%;
}

.features .feature h3 {
  margin: 0 0 8;
  margin-left: 46px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features .feature p {
  margin: 0;
  margin-left: 46px;
  max-width: 550px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* ========= TEAM ========= */

.team-section {
  background-color: #f4f4fd;
}
.container-team {
  padding-left: 46px;
  padding-right: 0;
  background-color: #f4f4fd;
}
.team-section .section-title {
  margin: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-weight: 700;
  background-color: #f4f4fd;
}

.team-section ul {
  background-color: #ffffff;
}

.team-section li {
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 16px solid #f4f4fd;
}

.team-section h3 {
  margin: 8px 0 4px;
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-section p {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ========= PORTFOLIO ========= */

.Portfolio-section {
  background-color: #ffffff;
  padding-top: 32px;
  padding-bottom: 80px;
}

.Portfolio-section .section-title {
  margin: 0 0 24px;
  text-align: center;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.Portfolio-section ul {
  width: 360px;
  margin-left: 46px;
}

.Portfolio-section li {
  margin-bottom: 32px;
}

.Portfolio-section h3 {
  margin: 8px 0 2px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.Portfolio-section p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ========= FOOTER ========= */

.footer {
  background-color: #2e2f42;
  padding-top: 16px;
  padding-bottom: 16px;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer a {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-transform: uppercase;
  color: #f4f4fd;
  margin-bottom: 8px;
}

.footer a span {
  color: #4d5ae5;
}

.footer p {
  margin: 0;
  max-width: 480px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  white-space: nowrap;     /* ГОЛОВНЕ — не переносити рядок */
  overflow: hidden;        /* щоб не ламав верстку */
  text-overflow: ellipsis; /* додає "..." при нестачі місця */
}