/* ========= BASE ========= */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ========= HEADER ========= */

.header {
  background-color: #ffffff;
}

.header-container a {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-transform: uppercase;
  color: #2e2f42;
}

.header-container a span {
  color: #4d5ae5;
  font-weight: 700;
}

.nav a {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

header address {
  font-style: normal;
}

header address ul {
  display: block;
}

header address a {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.nav a:hover,
.nav a:focus {
  color: #404bbf;
}

header address a:hover,
header address a:focus {
  color: #404bbf;
}

/* ========= HERO ========= */

.hero {
  background-color: #2e2f42;
  text-align: center;
}

.hero h1 {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.btn-primary {
  background-color: #4d5ae5;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #404bbf;
}
/* ========= FEATURES  ========= */

.features .feature h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features .feature p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ========= TEAM ========= */

.team-section {
  background-color: #f4f4fd;
}
.container-team {
  background-color: #f4f4fd;
}
.team-section .section-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-weight: 700;
  background-color: #f4f4fd;
}

.team-section li {
  background-color: #ffffff;
}

.team-section h3 {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-section p {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ========= PORTFOLIO ========= */

.portfolio-section {
  background-color: #ffffff;
}

.portfolio-section .section-title {
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-section h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-section p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ========= FOOTER ========= */

.footer {
  background-color: #2e2f42;
}

.footer a {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  font-weight: 700;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer a span {
  color: #4d5ae5;
}

.footer p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
